/*Header*/
.header{
    top: 0px;
    left: 0px;
    width:100%;
    position: fixed;
}

.title{
    color: white;
    font-size: 24px; 
    padding-top: 10px;
}

.title:hover{
    color: white;
    text-decoration: none;
}

.menu{
    color: white;
    padding-top: 1em;
}

.menu:hover{
    color: white;
    text-decoration: none;
}

.burger{
    padding-top: 10px;
}


/*Footer*/
.footer{
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.footerUpdated{
    bottom: -14px;
    left: 0px;
    width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.image{
    color: white;
}


/*Search*//*Blir footer fikset blir resten av Css ødelagt*/
.footerSearch{
    /*margin-top: -8em;*/ 
    /*margin-bottom: 8em;*/
}


/*Index*/
.indexBody{
    margin-bottom: 7em;
}

.indexItems{
    top: 60px;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.indexItems img{  
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.indexText{
    color: grey;
}

.indexText:hover{
    color: grey;
    text-decoration: none;
}


/*Article*/
.articleBody{
    margin-bottom: 8em;
}

.articleItems{
    top: 80px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.articleItems img{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.articleText{
    color: grey;
}

.articleText:hover{
    color: grey;
    text-decoration: none;
}


/*Product*/
.productBody{
    margin-bottom: 9em;
}

.productItems{
    top: 70px;
    width: 100%;
    height: 100%;
    padding-top: 1em;
}

.productItems img{
    width: 100%;
    height: 100%;    
    padding: 5px;
    border-radius: 20px;
}

.products{
    top: 6px;
    text-align: center;
}

.productAlert{
    top: 90px;
}


/*Contact*/
.contactBody{
    margin-bottom: 8em;
}

.contactItems{
    top: 70px;
    width: 100%;
    height: 100%;
    padding-top: 1em;
}

.contactTitle{
    text-align: center;
}


/*Login*/
.loginBody{ 
    margin-top: 8em;
    margin-bottom: 6em;
}

.loginItems{
   
}

.forgottenRight{
    float: right;
}

.regBottom{
    top: 10px;
}

.loginAlert  {
    top: 20px;
}


/*Forgotten*/
.forgottenBody{
    margin-top: 8em;
    margin-bottom: 6em;
}

.forgottenItems{
    margin-top: 6em;
}

/*Registration*/
.regBody{
    margin-top: 8em;
    margin-bottom: 4em;
}

.regItems{
    margin-top: 6em;
}


/*Profi*/
.profilBody{
    margin-top: 8em;
    margin-bottom: 6em;
}

.profilItems{
    margin-top: -2em;
}

.user{
}

.adress{
   top: 12px;
}


/*Shopping*/
.shoppingFooter{
    margin-top: 1em;
    margin-bottom: 6em;
}

.shopping{
    top: 60px;
}

.shoppingItems{
    top: 60px;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.shoppingItems img{
    top: 0px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.shoppingTotal{
    top: 50px;
    width: 100%;
    height: 100%;
    text-align: right;
    margin-bottom: 2em;
}

.shoppingEmpty{
    top: 100px;   
    text-align: center;
    margin-bottom: 5em;
}

.shoppingAlert{
    top: 50px;
}


/*Alerts*/
.alertBtn {
    animation-name: alert;
    animation-duration: 4s;
    opacity: 0;
}

@keyframes alert {
    0%   {opacity: 1;} 
    100% {opacity: 0;}
}